.contenedor{
    border: black solid 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    position: relative;
}
.infoCont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.infoCont img{
    background-color: darkgray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.btn{
    height: min-content;
    width: min-content;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: red;
    color: white;
    border-radius: 5px;
}